*App.Debug.config
*App.Release.config
*.exe.config
*FileListAbsolute.txt
/artifacts/bin
/packages
*publish nuget.bat

**/pkg/*
/TestClient/obj/*
/TestClient/bin/*
/ServiceFabric.ServiceBus.Demo/SampleQueueListeningStatefulService/bin/*
/ServiceFabric.ServiceBus.Demo/SampleQueueListeningStatefulService/obj/*
/ServiceFabric.ServiceBus.Demo/SampleSubscriptionListeningStatelessService/obj/*
/ServiceFabric.ServiceBus.Demo/SampleSubscriptionListeningStatelessService/bin/*
/ServiceFabric.ServiceBus.Demo/SampleSubscriptionListeningStatefulService/obj/*
/ServiceFabric.ServiceBus.Demo/SampleSubscriptionListeningStatefulService/bin/*
/ServiceFabric.ServiceBus.Demo/SampleQueueListeningStatelessService/obj/*
/ServiceFabric.ServiceBus.Demo/SampleQueueListeningStatelessService/bin/*
/ServiceFabric.ServiceBus.Demo/TestClient/bin
/ServiceFabric.ServiceBus.Demo/TestClient/ReadMe.txt
*/obj/Release
*/obj/Debug
**/obj/Release
**/obj/Debug

**force

**.dg
/ServiceFabric.ServiceBus.Services/obj/'Release'
/ServiceFabric.ServiceBus.Clients/obj/'Release'
/.vs
/ServiceFabric.ServiceBus.Clients/bin/'Release'
/ServiceFabric.ServiceBus.Demo/MyServiceFabricApp/obj/x64/Debug
/ServiceFabric.ServiceBus.Services/bin
/ServiceFabric.ServiceBus.Services/obj/'Debug'
*.user
/ServiceFabric.ServiceBus.Demo/MyServiceFabricApp/Backup*
/Backup
/Backup1
/ServiceFabric.ServiceBus.Clients/bin/Debug
/ServiceFabric.ServiceBus.Clients/obj
/ServiceFabric.ServiceBus.Services/obj
/ServiceFabricServicesBackup/ServiceFabric.ServiceBus.Demo/SampleQueueListeningStatefulService/obj/x64
/ServiceFabricServicesBackup/ServiceFabric.ServiceBus.Demo/SampleQueueListeningStatelessService/obj/x64
/ServiceFabricServicesBackup/ServiceFabric.ServiceBus.Demo/SampleSubscriptionListeningStatefulService/obj/x64
/ServiceFabricServicesBackup/ServiceFabric.ServiceBus.Demo/SampleSubscriptionListeningStatelessService/obj/x64
/UpgradeLog.htm
/UpgradeLog2.htm
/ServiceFabric.ServiceBus.Clients/bin/x64/Debug
/ServiceFabric.ServiceBus.Demo/TestClient/obj/x64

**/App.config

**/*.snk
/ServiceFabric.ServiceBus.Clients/bin/x64/Release
**/*.nupkg
/ServiceFabric.ServiceBus.Services.Netstd/obj
