<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    
    <appSettings>

			<add key="QueueName" value="TestQueue"/>
			<add key="TopicName" value="TestTopic"/>
			<add key="SubscriptionName" value="TestSubscription"/>
			
        <!-- Service Bus specific app setings for messaging connections -->
        <add key="Microsoft.ServiceBus.ConnectionString"
            value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]"/>
    </appSettings>
</configuration>