<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  
  <appSettings>
		<add key="QueueName" value="TestQueueStateful"/>
		
		<add key="Microsoft.ServiceBus.ConnectionString.Receive"
      value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=ReceiveOnlySharedAccessKey;SharedAccessKey=[your secret]"/>
    <add key="Microsoft.ServiceBus.ConnectionString.Send"
      value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=SendOnlySharedAccessKey;SharedAccessKey=[your secret]"/>
  </appSettings>
</configuration>