<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>

	<appSettings>
		<add key="TopicName" value="TestTopicStateless"/>
		<add key="SubscriptionName" value="TestSubscriptionStateless"/>

		<add key="Microsoft.ServiceBus.ConnectionString.Receive"
			value="Endpoint=sb://exactsb.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=OqZhpwUWA88AkejHQMGGYQIGFGFDpOqofobaKbcJ4d8="/>
		<add key="Microsoft.ServiceBus.ConnectionString.Send"
			value="Endpoint=sb://exactsb.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=OqZhpwUWA88AkejHQMGGYQIGFGFDpOqofobaKbcJ4d8="/>
	</appSettings>
</configuration>